<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new Car</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>

<body style="margin:16px;padding:16px">

<div class="container mt-5, text-left">

    <div class="nav">
        <div th:replace="fragments/header :: header"></div>
    </div>

    <div class="alert alert-success" style="margin-top: 80px">
        <h1> Add new Car <br/>
            <form action="#" th:action="@{/admin/addcar}" method="get" th:object="${car}">
                <table class="table" id="table">
                    <tr>
                        <td>
                            Model: <select th:field="*{model}">
                            <option th:each="car : ${(models)}"
                                    th:value="${car}"
                                    th:text="${car}">
                            </option>
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Price for one day <input type="number" step="0.01" th:field="*{price}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Color: <select th:field="*{color}">
                            <option th:each="car : ${(colors)}"
                                    th:value="${car}"
                                    th:text="${car}">
                            </option>
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Url to Photo: <input type="text" th:field="*{urlPhoto}"/>
                        </td>
                    </tr>
                </table>

                <div class="form-group" style="width: 60%">
                    <button th:action="submit" class="btn btn-success">Buy This Car!</button>
                    <a th:href="@{'/admin/adminstart/'}" class="btn btn-danger" title="Go back to home page.">Back</a>
                </div>

            </form>
        </h1>
    </div>
</div>


</body>
</html>