<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new Car</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    <script type="text/javascript" th:src="@{/js/progress_bar.js}" defer></script>
</head>

<body style="margin:16px;padding:16px">

<div class="container mt-5, text-center">

    <div class="nav">
        <div th:replace="fragments/header :: header"></div>
    </div>

    <div class="alert alert-success" style="margin-top: 80px">
        <div class="row">
            <h1>Hello Admin!</h1>
        </div>

        <div class="row">
            <h3>You can filter our cars: </h3>
        </div>

        <form action="#" th:action="@{/admin/adminCarFilter}" method="post" th:object="${adminService}">
            <div class="row">
                <div class="col-sm">
                    Model: <select th:field="*{models}">
                    <option th:each="adminService : ${(models)}"
                            th:value="${adminService}"
                            th:text="${adminService}">
                    </option>
                </select>
                </div>
                <div class="col-sm">
                    Color: <select th:field="*{color}">
                    <option th:each="adminService : ${(colors)}"
                            th:value="${adminService}"
                            th:text="${adminService}">
                    </option>
                </select>
                </div>
                <div class="col-sm">
                    State: <select th:field="*{state}">
                    <option th:each="adminService : ${(states)}"
                            th:value="${adminService}"
                            th:text="${adminService}">
                    </option>
                </select>
                </div>
                <div class="col-sm">
                    <button th:action="sumbit">FILTER</button>
                </div>
            </div>
        </form>
        <div class="row">
            <table class="table">
                <thead>
                <tr class="table-success">
                    <th scope="col">Number</th>
                    <th scope="col">Model</th>
                    <th scope="col">Color</th>
                    <th scope="col">State</th>
                    <th scope="col">this one?</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="car : ${cars}">
                    <td><p th:text="${carStat.count}"></td>
                    <td><p th:text="${car.model}"></td>
                    <td><p th:text="${car.color}"></td>
                    <td><p th:text="${car.state}"></td>
                    <td>
                        <a th:href="@{'/admin/adminCar/'+${car.idCar}}">show me!</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>