<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
    <style type="text/css">/* Chart.js */
    @-webkit-keyframes chartjs-render-animation {
        from {
            opacity: 0.9
        }
        to {
            opacity: 1
        }
    }

    @keyframes chartjs-render-animation {
        from {
            opacity: 0.9
        }
        to {
            opacity: 1
        }
    }

    .chartjs-render-monitor {
        -webkit-animation: chartjs-render-animation 0.001s;
        animation: chartjs-render-animation 0.001s;
    }</style>

</head>
<body>
<div class="container mt-5, text-center">

    <div class="nav">
        <div th:replace="fragments/header :: header"></div>
    </div>

    <div class="alert alert-success" style="margin-top: 80px">
        <h1>Hello Admin!</h1>
        <h3>Wallet chart</h3>
    </div>

    <div style="margin:0 auto;">
        <canvas id="myChart" class="chartjs-render-monitor" style="display: block;"></canvas>
    </div>

    <div class="alert alert-success">
        <h3>How many transaction?? (only 2+)</h3>

        <form action="#" th:action="@{/admin/chartfilter}" method="get" th:object="${timetoshow}">
            <input type="number" min="2" th:field="*{countingTimeToChartMyWallet}"/>
            <button th:action="sumbit">Show!</button>
        </form>

    </div>
</div>

<script th:inline="javascript">
    var ctx = document.getElementById('myChart').getContext('2d');

    var firstTextInChart = 'Last ';
    var howManyDays = /*[[${howmany}]]*/ '0';
    var endTextInChar = ' transaction';

    var text = firstTextInChart + howManyDays + endTextInChar;

    var date = /*[[${date}]]*/ '0';
    var cash = /*[[${cash}]]*/ '0';
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: date,
            datasets: [{
                label: text,
                data: cash,
                backgroundColor: ['rgba(92,184,92, 0.2)'],
                borderColor: ['rgba(92,184,92, 1)'],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>

</body>
</html>