<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new Car</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <script type="text/javascript" th:src="@{/js/progress_bar.js}" defer></script>

</head>

<body>

<div class="header">
    <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
    </div>
</div>

<div class="container mt-5, text-center">

    <div class="nav">
        <div th:replace="fragments/header :: header"></div>
    </div>

    <div class="alert alert-success" style="margin-top: 90px">
        <h1>Hello Admin!</h1>
        <h3>Cash option</h3>
    </div>

    <div class="row">
        <table class="table">
            <thead>
            <tr class="table-success">
                <th scope="col">Number</th>
                <th scope="col">When</th>
                <th scope="col">Money</th>
                <th scope="col">Who borrow car</th>
                <th scope="col">IdCar which was broken</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="walle : ${wallet}">
                <td><p th:text="${walleStat.count}"></td>
                <td><p th:text="${walle.transactionDate}"></td>
                <td><p th:text="${walle.cashInWallet}"></td>
                <td><p th:text="${walle.getCarBorrowing().getUserCar().getUser().getFirstName()}"></td>
                <td><p th:text="${walle.getCarRepairing().getCar().getIdCar()}"></td>

            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <button onclick="topFunction()" id="myBtn"><i class="fas fa-angle-double-up"></i></button>
    </div>
</div>

</body>
</html>