<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>YEAH, you can drive!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>
<body style="margin:16px;padding:16px">

<div class="container mt-5, text-left">

    <div class="nav">
        <div th:replace="fragments/header :: header"></div>
    </div>

    <div class="alert alert-success" style="margin-top: 80px">
        <h1>Great!<br></h1>
        <h2>
            <p th:text="'Model: ' + ${model.toString()}"/>
            <p th:text="'Price: ' + ${price.toString()}"/>
            <p th:text="'Color: ' + ${color.toString()}"/>
            <img th:src="${url}"></p>

            <a th:href="@{'/admin/carindb'}" class="btn btn-success" title="Accept.">Accept</a>
            <a th:href="@{'/admin/car'}" class="btn btn-danger" title="Go back.">Back</a>

        </h2>
    </div>
</div>
</body>
</html>