<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new Car</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>

<body>

<div class="container mt-5, text-center">

    <div class="nav">
        <div th:replace="fragments/header :: header"></div>
    </div>

    <div class="alert alert-success" style="margin-top: 80px">
        <h2>Users list:</h2>

        <br>
        <table class="table">
            <thead>
            <tr class="table-success">
                <th scope="col">Id</th>
                <th scope="col">Role</th>
                <th scope="col">Login</th>
                <th scope="col">Password</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">ARC *</th>
                <th scope="col">Action</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="user : ${users}">
                <td><p th:text="${user.getIdUser()}"></td>
                <td><p th:text="${user.getRole()}"></td>
                <td><p th:text="${user.getLogin()}"></td>
                <td>***</td>
                <td><p th:text="${user.getFirstName()}"></td>
                <td><p th:text="${user.getLastName()}"></td>
                <td><p th:text="${user.getAmountOfCarsRentedSoFar()}"></td>
                <td>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <a th:href="@{'/admin/users'}" class="btn btn-primary" title="Send message to client.">MEMO</a>
                        <a th:href="@{'/admin/users'}" class="btn btn-info" title="Reset users password.">RESET P.</a>
                        <a th:href="@{'/admin/users'}" class="btn btn-warning" title="Open client details to change.">EDIT</a>
                        <a th:href="@{'/admin/users'}" class="btn btn-danger" title="Delete client.">DELETE</a>
                    </div>


                </td>
            </tr>
            </tbody>

        </table>
    </div>

    <div style="text-align: left">
        <h6 class="badge badge-secondary">*) ARC = amount of rented cars</h6>
    </div>
</div>

</body>
</html>