<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new Car</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

</head>

<body style="margin:16px;padding:16px">

<div class="container mt-5, text-center">
    <div class="alert alert-success">
        <h1>Hello <p th:text="${user.getLogin()}" style="display:inline">__login__</p></h1>
        <h3>Choice option</h3>
        <div th:replace="fragments/headerclient :: header"></div>
    </div>

    <div class="alert alert-primary">
        <h1>Personal data:</h1>
        <br>
        <form action="#" th:action="@{/client/personalinfo/clientpersonalinfo}" method="post" th:object="${updatedUser}">
        <table class="table">
            <thead>
            <tr class="table-success">
                <th scope="col" style="text-align: right">Data tape</th>
                <th scope="col">Value</th>
            </tr>
            </thead>

            <tbody align="left">

            <tr>
                <td align="right">
                    Photo :
                </td>
                <td align="left">
                    <img th:src="@{/imguser/userdefault.png}" width="200">
                </td>
            </tr>

            <tr>
                <td align="right">
                    Login :
                </td>
                <td align="left">
                    <input th:value="${user.getLogin()}" th:field="*{login}" type="text" class="form-control" style="width: 50%"/>
                </td>
            </tr>

            <tr>
                <td align="right">
                    Account type :
                </td>
                <td align="left">
                    <input th:value="${user.getRole()}" type="text" disabled class="form-control" style="width: 50%"/>
                </td>
            </tr>

            <tr>
                <td align="right">
                    First name :
                </td>
                <td align="left">
                    <input th:value="${user.getFirstName()}" th:field="*{firstName}" type="text" class="form-control" style="width: 50%"/>
                </td>
            </tr>

            <tr>
                <td align="right">
                    Last name :
                </td>
                <td align="left">
                    <input th:value="${user.getLastName()}" th:field="*{lastName}" type="text" class="form-control" style="width: 50%"/>
                </td>
            </tr>

            <tr>
                <td align="right">
                    Password :
                </td>
                <td align="left">
                    *****
                </td>
            </tr>

            </tbody>
        </table>

        <button th:action="submit" class="btn btn-success">Update</button>
        <a th:href="@{'/client/clientstart'}" class="btn btn-danger" title="Go back.">Back</a>
        </form>

    </div>
</div>


</body>
</html>