<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new Car</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body background="https://www.wallpaperup.com/uploads/wallpapers/2013/12/30/209337/a456723ed43e77560628bd8ace73076f.jpg" style="margin:16px;padding:16px">

<div class="container, text-center">
    <div class="alert alert-primary">
        <h1>Car list
            <a th:href="@{'/client/clientstart'}" class="btn btn-danger" title="Go back to Client page.">Client info</a>
        </h1>
        <h2>choose one of them:</h2>

        <br>
        <table class="table">
            <thead>
            <tr class="table-success">
                <th scope="col">Car number</th>
                <th scope="col">Car model</th>
                <th scope="col">Car price</th>
                <th scope="col">Car color</th>
                <th scope="col">Rent ME!</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="car : ${cars}">
                <td><p th:text="${carStat.count}"></td>
                <td><p th:text="${car.model}"></td>
                <td><p th:text="${car.price}"></td>
                <td><p th:text="${car.color}"></td>
                <td>
                    <a th:href="@{'/client/carlist/'+ ${car.idCar} }" class="btn btn-success btn-sm" title="Rent this car.">rent</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

</body>
</html>