<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new Car</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

</head>

<body style="margin:16px;padding:16px">

<div class="container mt-5, text-center">
    <div class="alert alert-success">
        <h1>Hello <p th:text="${login}" style="display:inline">__login__</p></h1>
        <h3>Choice option</h3>
        <div th:replace="fragments/headerclient :: header"></div>
    </div>


    <div class="alert alert-primary">
        <h1>Granted discounts:</h1>
        <br>
        <table class="table">
            <thead>
            <tr class="table-success">
                <th scope="col" style="text-align: right">Title</th>
                <th scope="col">Amount</th>
                <th scope="col">Details</th>
                <th scope="col">Starting point</th>

            </tr>
            </thead>

            <tbody align="left">

            <tr th:each="userDiscount : ${discountList}">
                <td align="right" width="30%">
                    <p th:text="${userDiscount.getName()}" style="display: inline"></p>
                </td>

                <td  width="10%">
                    - <p th:text="${#numbers.formatDecimal((userDiscount.getValuePercentage()* 100),1,0,'COMMA')}" style="display: inline"></p> %
                    <br/>- <p th:text="${#numbers.formatDecimal(userDiscount.getValueReal(),1,0,'COMMA')}" style="display: inline"></p> PLN
                </td>
                <td width="*%">
                    <p th:text="${userDiscount.getRulesDescription()}" style="display: inline"></p>
                </td>

                <td width="10%">
                    <p th:text="${userDiscount.getStartingPoint()}" style="display: inline"></p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>



    <div class="alert alert-primary">
        <h1>Rented cars:</h1>
        <br>
        <table class="table">
            <thead>
            <tr class="table-success">
                <th scope="col" style="text-align: right">Photo</th>
                <th scope="col">Basic info</th>
                <th scope="col">Rental info</th>
                <th scope="col">Total price</th>

            </tr>
            </thead>

            <tbody align="left">

            <tr th:each="carBorrowing : ${carBorrowings}">
                <td align="right">
                    <img th:src="${carBorrowing.getUserCar().getCar().getUrlPhoto()}" height="100"></p>
                </td>

                <td>
                <p th:text="${carBorrowing.getUserCar().getCar().getModel()}" style="display: inline"></p>
                <br/><p th:text="${carBorrowing.getUserCar().getCar().getColor()}" style="display: inline"></p>
                <br/><p th:text="${carBorrowing.getUserCar().getCar().getPrice()}" style="display: inline"></p>
                    </td>
                <td>
                    from: <p th:text="${carBorrowing.getCityEnter()}" style="display: inline"></p>
                    to: <p th:text="${carBorrowing.getCityExit()}" style="display: inline"></p>
                    <br/>from: <p th:text="${carBorrowing.getDateEnter()}" style="display: inline"></p>
                    to: <p th:text="${carBorrowing.getDateExit()}" style="display: inline"></p>
                    <br/>price per day: <p th:text="${carBorrowing.getPriceForDay()}" style="display: inline"></p>
                    <br> number of rent: <p th:text="${carBorrowing.getClientRentOrder()}" style="display: inline"></p>
                    <br> percentage discount: <p th:text="${#numbers.formatDecimal((discountInPercentage.get(carBorrowing.getClientRentOrder() - 1) * 100),1,0,'COMMA')}" style="display: inline"></p> %
                    <br> cash discount: <p th:text="${#numbers.formatDecimal((discountInCash.get(carBorrowing.getClientRentOrder() - 1)),1,2,'COMMA')}" style="display: inline"></p> PLN
                </td>

                <td>
                    <p th:text="${#numbers.formatDecimal(carBorrowing.getPriceForAllDay(),1,2,'COMMA')}" style="display: inline"></p> PLN
                </td>
            </tr>
            </tbody>
        </table>

        <div class="alert alert-primary, text-right">
            <h1>Total price to pay: <p th:text="${totalPrice}">__TOTAL_PRICE__</p> PLN</h1>
        </div>
    </div>
</div>


</body>
</html>