<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body background="https://www.wallpaperup.com/uploads/wallpapers/2013/12/30/209337/a456723ed43e77560628bd8ace73076f.jpg"
      style="margin:16px;padding:16px">

<div class="container, text-center">
    <div class="alert alert-primary" role="alert">
        <h2>Good job !<br>
            <p th:text="'Client: ' + ${currentUser.firstName} + ' has car: ' + ${chosenCar.model}"/>

            <a th:href="@{'/client/borrowtime'}" class="btn btn-success" title="Define time of rental">Define time</a>
            <a th:href="@{'/client/carlist'}" class="btn btn-danger" title="Go back to car list page.">Car list</a>
            <a th:href="@{'/client/clientstart'}" class="btn btn-danger" title="Go back to Client page.">Client info</a>
        </h2>
    </div>
</div>
</body>
</html>