<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Money, money, money!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body background="" style="margin:16px;padding:16px">

<div class="container, text-center">
    <div class="alert alert-primary" role="alert">
        <h1>
            OK. Car was rented. You have to pay.
        </h1>
        <a th:href="@{'/client/carlist'}" class="btn btn-primary" title="Go back to car list page.">Car list</a>
        <a th:href="@{'/client/clientstart'}" class="btn btn-primary" title="Go back to Client page.">Client info</a>
    </div>
</div>

</body>
</html>