<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>YEAH, you can drive!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body background="https://www.wallpaperup.com/uploads/wallpapers/2013/12/30/209337/a456723ed43e77560628bd8ace73076f.jpg"
      style="margin:16px;padding:16px">

<div class="container, text-center">
    <div class="alert alert-primary" role="alert">
        <h1>Great!<br></h1>
        <h2>
            <p th:text="'Client: ' + ${user} + ' '+ ${lastName}"/>
            <p th:text="'Car model: ' + ${car}"/>
            <p th:text="'Start travel at: ' + ${enter}"/>
            <p th:text="'Stop travel at:  ' + ${exit}"/>
            <p th:text="'StartCity is: ' + ${cityEnter}"/>
            <p th:text="'StopCity is:  ' + ${cityExit}"/>
            <hr>
            <p th:text="'Price before discounts:  ' + ${#numbers.formatDecimal(priceBeforeDiscount,1,2,'COMMA')}" style="display: inline"/> PLN <br>
            <p th:text="'Total discounts in percentage:  ' + ${#numbers.formatDecimal(totalPercentageDiscounts,1,0,'COMMA')}" style="display: inline"/> % <br>
            <p th:text="'Total discounts in cash:  ' + ${#numbers.formatDecimal(totalRealDiscounts,1,2,'COMMA')}"  style="display: inline"/> PLN <br>
            <p th:text="'Price including all discounts: ' + ${#numbers.formatDecimal(price,1,2,'COMMA')}"  style="display: inline"/> PLN <br>

            <a th:href="@{'/client/confirmBorrowCar'}" class="btn btn-success">Accept</a>
            <a th:href="@{'/client/carlist'}" class="btn btn-danger" title="Go back to car list page.">Car list</a>
            <a th:href="@{'/client/clientstart'}" class="btn btn-danger" title="Go back to Client page.">Client info</a>

            <!--TODO maybe method wrongDecision, or sth..., when we swap InformationService to null, eq. price = null, enterDate = null etc... -->

        </h2>
    </div>
</div>
</body>
</html>