<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new Car</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body background="https://www.wallpaperup.com/uploads/wallpapers/2013/12/30/209337/a456723ed43e77560628bd8ace73076f.jpg" style="margin:16px;padding:16px">

<div class="container, text-center">
    <div class="alert alert-primary">
        <h1>
            Wrong Date! WHEN YOU START??<br>
        </h1>
        <br>
        <h2>
            <p th:text="'Dear: ' + ${user} + '. Today is: ' + ${nowDate} + ', and you start at: '+${enterDate}+ ', omg...'"/>
            <a th:href="@{'/client/borrowtime'}" class="btn btn-warning" title="Go back and try once again.">Try again</a>
            <a th:href="@{'/client/carlist'}" class="btn btn-danger" title="Go back to car list page.">Car list</a>
            <a th:href="@{'/client/clientstart'}" class="btn btn-danger" title="Go back to Client page.">Client info</a>
        </h2>
    </div>
</div>

</body>
</html>