<header th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">

        <div class="row">

            <div class="col">
                <form action="#" th:action="@{/client/carlist}" th:method="get">
                    <button type="submit" class="btn btn-primary" th:action="sumbit">Rent a car</button>
                </form>

            </div>

            <div class="col">
                <form action="#" th:action="@{/client/clientinfo}">
                    <button type="submit" class="btn btn-primary" th:action="sumbit">Account information</button>
                </form>
            </div>

            <div class="col">
                <form action="#" th:action="@{/client/personalinfo/clientpersonalinfo}">
                    <button type="submit" class="btn btn-primary" th:action="sumbit">Personal data</button>
                </form>
            </div>

            <div class="col">
                <form action="#" th:action="@{/logout}">
                    <button type="submit" class="btn btn-primary" th:action="sumbit">Logout</button>
                </form>
            </div>
        </div>
    </nav>
</header>