<header th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">

        <div class="row">

            <div class="col">
                <form action="#" th:action="@{/admin/car}" th:method="get">
                    <button type="submit" class="btn btn-primary" th:action="sumbit">Show All Car <i class="fas fa-car"></i> </button>
                </form>

            </div>

            <div class="col">
                <form action="#" th:action="@{/admin/add}">
                    <button type="submit" class="btn btn-primary" th:action="sumbit">Add new Car <i class="far fa-plus-square"></i> </button>
                </form>
            </div>

            <div class="col">
                <form action="#" th:action="@{/admin/users}">
                    <button type="submit" class="btn btn-primary" th:action="sumbit">Show All User <i class="fas fa-users"></i> </button>
                </form>
            </div>

            <div class="col">
                <form action="#" th:action="@{/admin/cash}">
                    <button type="submit" class="btn btn-primary" th:action="sumbit">My Wallet In Table <i class="fas fa-wallet"></i> </button>
                </form>
            </div>

            <div class="col">
                <form action="#" th:action="@{/admin/cashinchart}">
                    <button type="submit" class="btn btn-primary" th:action="sumbit">My Wallet In Chart <i class="fas fa-chart-line"></i> </button>
                </form>
            </div>

            <div class="col">
                <form action="#" th:action="@{/logout}">
                    <button type="submit" class="btn btn-primary" th:action="sumbit">Logout <i class="fas fa-sign-out-alt"></i> </button>
                </form>
            </div>
        </div>
    </nav>
</header>