.nav{
    padding: 10px;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    background:lightskyblue;
    z-index: 9;
}

.header {
    position: fixed;
    top: 74px;
    z-index: 8;
    width: 100%;
}

.progress-container {
    width: 100%;
    height: 8px;
    background: lightskyblue;
}

.progress-bar {
    width: 0%;
    height: 8px;
    background: gold;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: lightblue;
    padding: 15px;
    border-radius: 10px;
}

#myBtn:hover {
    background-color: #555;
}