<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create account</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body background="//imgnooz.com/sites/default/files/wallpaper/games/59104/lego-star-wars-wallpapers-59104-6655384.jpg">
<div class="container mt-5 text-center">
    <div class="alert alert-dark" role="alert">
        <h1>Welcome in car rental!</h1>
    </div>

    <div class="alert alert-success" role="alert">
    Dear <p th:text="${firstName}" style="display: inline"></p>, your account was created successfully.
    <br/><br/>
    <a th:href="@{'/login'}" class="btn btn-success" title="Go to log in page.">Log in</a>
    <a th:href="@{'/'}" class="btn btn-danger" title="Go back to home page.">Back</a>
    </div>

</div>
</body>
</html>
