<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create account</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body background="//imgnooz.com/sites/default/files/wallpaper/games/59104/lego-star-wars-wallpapers-59104-6655384.jpg">
<div class="container mt-5 text-center">
    <div class="alert alert-dark" role="alert">
        <h1>Welcome in car rental!</h1>
    </div>

    <form action="#" th:action="@{/createuser}" method="post" th:object="${user}" style="margin-left: 30%">

        <div class="form-group" style="width: 60%; text-align: left">
            <label for="firstname" style="color: white">First name</label>
            <input th:value="*{firstName}" th:field="*{firstName}" type="text" class="form-control" id="firstname" placeholder="Write here your first name"/>
        </div>

        <div class="form-group" style="width: 60%; text-align: left">
            <label for="lastname" style="color: white">Last name</label>
            <input th:value="*{lastName}" th:field="*{lastName}" type="text" class="form-control" id="lastname" placeholder="Write here your first name"/>
        </div>

        <div class="form-group" style="width: 60%; text-align: left">
            <label for="username" style="color: white">Login</label>
            <input th:value="*{login}" th:field="*{login}" type="text" class="form-control" id="username" placeholder="Write here your login"/>
        </div>

        <div class="form-group" style="width: 60%; text-align: left">
            <label for="password" style="color: white">Password</label>
            <input th:value="*{password}" th:field="*{password}"  type="password" class="form-control" id="password" placeholder="Write here your password"/>
        </div>

        <div class="form-group" style="width: 60%">
            <button th:action="submit" class="btn btn-success">Create</button>
            <a th:href="@{'/'}" class="btn btn-danger" title="Go back to home page.">Back</a>
        </div>
    </form>
</div>

</body>
</html>
