<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create account</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body background="//imgnooz.com/sites/default/files/wallpaper/games/59104/lego-star-wars-wallpapers-59104-6655384.jpg">
<div class="container mt-5 text-center">
    <div class="alert alert-dark" role="alert">
        <h1>Welcome in car rental!</h1>
    </div>

    <div class="alert alert-warning" role="alert" style="text-align: left">
        Dear client, given input data for registration are wrong :
        <br/><br/>
        <p th:text="${wrongFirstName}" style="display: inline"></p>
        <br/><br/>
        <p th:text="${wrongLastName}" style="display: inline"></p>
        <br/><br/>
        <p th:text="${wrongLogin}" style="display: inline"></p>
        <br/><br/>
        <p th:text="${wrongPassword}" style="display: inline"></p>
        <br/><br/>
        Your account was not created. Please
        <a th:href="@{'/createuser'}" class="btn btn-warning" title="Go to registration page.">try again</a>
        or go back
        <a th:href="@{'/'}" class="btn btn-danger" title="Go back to home page.">home</a> page.
    </div>
</div>
</body>
</html>
