<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body background="//imgnooz.com/sites/default/files/wallpaper/games/59104/lego-star-wars-wallpapers-59104-6655384.jpg">
<div class="container mt-5 text-center">
    <div class="alert alert-dark" role="alert">
        <h1>Welcome in car rental!</h1>
    </div>
    <a th:href="@{'/usercheck'}" class="btn btn-dark" title="Log in to service.">LOG IN</a>
    <a th:href="@{'/createuser'}" class="btn btn-dark" title="Create new account.">CREATE ACCOUNT</a>

</div>
</body>
</html>