<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body background="//imgnooz.com/sites/default/files/wallpaper/games/59104/lego-star-wars-wallpapers-59104-6655384.jpg">
<div class="container mt-5 text-center">
    <div class="alert alert-dark" role="alert">
        <h1>Welcome in car rental!</h1>
    </div>

    <form th:action="@{/login}" method="post" style="margin-left: 30%">

        <div class="form-group" style="width: 60%; text-align: left">
            <label for="username" style="color: white">Login</label>
            <input type="text" name="username" class="form-control" id="username" placeholder="Enter login">
        </div>

        <div class="form-group" style="width: 60%; text-align: left">
            <label for="password" style="color: white">Password</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="Enter password">
        </div>

        <div class="form-group" style="width: 60%">
            <button type="submit" class="btn btn-success">Log in</button>
            <a th:href="@{'/'}" class="btn btn-danger" title="Go back to home page.">Back</a>
        </div>
    </form>

</body>
</html>
